
$azul-marinho: #007bff;
$azul-forte: rgba(0, 0, 68, 0.95);
$branco: rgba(255, 255, 255, 0.95);
$vermelho: rgba(172, 19, 52, 0.95);
$vermelho-claro: rgb(233, 81, 81);
$preto: rgba(0, 0, 0, 0.95);
$place-holder:  rgba(0, 0, 0, 0.562);